body {
    background-image: url("../img/spacecraft.jpg");
    background-repeat: no-repeat;
    background-color: #5BA5DE;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    margin: 0px;

}

/* Header */

header {
    background-color: white;
    width: 99%;
    text-align: center;
    height: 70px;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-bottom: 25px;
    line-height: 1px;
    background-repeat: no-repeat;
    color: black;
    border: 3px solid #172020;
    opacity: 96%;
}

#logo {
    width: 160px;
    height: 48px;
}

ul {
  list-style-type: none;
   display: flex;
   justify-content: center;
   padding: 0;
   overflow: hidden;
   background-color: transparent;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

li {
  float: left;
  font-weight: bold;

}

nav li {
  display: inline;
}

#activeGames a, #activeHardware a, #activeSports a {
    color: white;
}

/* menu Videojuegos */

#activeGames {
  background-color: #30b0e5;
  border-radius: 4px;
}
.liGames a:hover {
  background-color: #30b0e5;
  color: white;
}
/* menu Hardware */

#activeHardware {
  background-color: #67A533;
  border-radius: 4px;
}

.liHardware a:hover {
  background-color: #6EB830;
  color: white;
}
/* menu eSports */

#activeSports {
  background-color: #F4C31D;
  border-radius: 4px;
}

.liSports a:hover {
  background-color: #FEC60B;
  color: white;
}

/* Noticias */

.Noticia {
    height: 149px;
    border: 1px solid white;
    background-color: white;
}
.Noticia img {
    border-radius: 20px;
}
.Noticia p {
    font-family: Helvetica Neue;
}

.Noticia:hover {
background-color: #ededed;
cursor: pointer;
}

section a {
text-decoration: none;
color: #000;
}

.imageNew {
    border-radius: 2px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
    float: left;
    height: 120px;
    width: 170px;
}
section {
    margin-top: 15px;
    display: inline-block;
    height: 60%;
    outline: 3px solid #172020;
}

section p{
    text-align: justify;
}

/*Apartado Videojuegos */

.Games {
color: #30b0e5;
}
.Games:hover {
color: #495c6e;
cursor:pointer;
}

/* Apartado Hardware */

.Hardware {
color: #67A533;
}
.Hardware:hover {
color: #71BE31;
cursor:pointer;
}

/*Apartado eSports */

.Sports {
color: #D8A332;
}
.Sports:hover {
color: #EFB02B;
cursor:pointer;
}

/* Noticias laterales */

#NoticiasDerecha {
    float: right;
    background-color: white;
    width: 275px;
    height: 900px;
    margin-left: 10px;
}

.imageLateralNew {
    float: left;
    margin-right: 15px;
    height: 66px;
    width: 100px;
    border-radius: 6px;
}

.NoticiaLateralHardware, .NoticiaLateralSports, .NoticiaLateralGames {
    margin-bottom: 30px;
    height: 70px;
}

/* Apartado Lateral Games */

#LateralGames {
    color: #30b0e5;
    text-align: center;
}
.NoticiaLateralGames h4{
    color: #30b0e5;
}
.NoticiaLateralGames h4:hover {
    color: #495c6e;
}

/* Apartado Lateral Hardware */

#LateralHardware {
    color: #67A533;
    text-align: center;
}
.NoticiaLateralHardware h4{
    color: #67A533;
}
.NoticiaLateralHardware h4:hover {
    color: #71BE31;
}

/* Apartado Lateral eSports */

#LateralSports {
    color: #D8A332;
    text-align: center;
}

.NoticiaLateralSports h4 {
    color: #D8A332;
}

.NoticiaLateralSports h4:hover {
    color: #EFB02B;
}

/* Contacts */

#contacta, #News {
    background-color: white;
}

#contacta {
    width: 100%;
    text-align: center;
}
#contacta p {
    text-align:center;
}

.contact {
    display: grid;
    grid-template-areas: "name surname" "telf email" "subject subject" "message message" "submit submit";

    grid-template-rows: 60px 60px 60px 150px auto auto;
    width: 100%;
}

.contact .name, .contact .surname, .contact .telf, .contact .email, .contact .subject, .contact .message, .contact .button {
    padding: 5px;
}

.campoNormal, .campoMain1, .campoMain2, .campoEnvio {
    border: 3px solid lightgrey;
    outline: none;
    background-color: #F0F0F0;
    padding: 5px;
}

.campoNormal {
    width: 70%;
    height: 80%;
}

.campoMain1 {
    width: 72%;
    height: 40px;
}

.campoMain2 {
    width: 72%;
    height: 90%;
    resize: none;
}

.campoEnvio {
    background-color: #30b0e5;
    color: white;
    font-size: 18px;
    width: 74%;
    height: 100%;
    height: 54px;

}

.campoEnvio:hover {
    background: #495c6e;
    border: 2px solid grey;
}


.contact .name {
    grid-area: name;
    text-align: right;
}

.contact .surname {
    grid-area: surname;
    text-align: left;
}

.contact .telf {
    grid-area: telf;
    text-align: right;
}

.contact .email {
    grid-area: email;
    text-align: left;
}

.contact .subject {
    grid-area: subject;
    text-align: center;
}

.contact .message {
    grid-area: message;
    text-align: center;
}

.contact .button {
    grid-area: submit;
    text-align: center;
}


/* Noticias individuales */

#News {
       vertical-align: middle;
       text-align: center;
}

#New {
    width: 60%;
    height: 100%;
    display: inline-block;
    text-align: left;
}
#TituloNew {
    text-align:center;
}

#ImageNew {
    display: block;
    margin: auto;
    width: 100%;
    position: center;
}

#DescNew {
    font-size: 1.2em;
    line-height: 1.4em;
    text-align: center;
    font-style: Italic;
    color: #999;
    margin-bottom: 10px;
}

/* Reproductor */

#reproductor {
    width: 100%;
    height: 400px;
    background-color: #172020;
    border: 3px solid #172020;
    padding-right: 0px;
    margin-left: -3px;

}
#reproductor p {
   color: white;
   text-align: center;
}
#videoWrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50%;
    height: 315px; }

#videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Fotter */

#fotter {
    width: 100%;
    height: 75px;
    margin-top: -15px;
    margin-left: -3px;
    background-color: #172020;
    border: 3px solid #172020;
    text-align: center;
    padding-bottom: 30px;
    color: #777;

}
#fotter img {
position: relative;
    top: 7px;
}
#fotter a {
    color: #777;
    text-decoration: none;
}

#fotter a:hover {
    color: white;
}

/* Size Format */

@media (min-width: 300px) and (min-width: 701px) {
    @media (min-width: 1020px) {
        body {
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #news {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media (max-width: 800px) {
    #news {
        display: flex;
        flex-direction: column;
    }
    .new {
        margin-left: auto;
        margin-right: auto;
    }
    #NoticiasDerecha {
    display: none;
    }


}
@media (max-width: 500px) {
    .Noticia p {
         display: none;
     }

}